* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(20, 20, 157);
}

.container .combaine {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    background-color: #0391E0;
}

.container .topnav {
    display: flex;
    align-items: center;
    gap: 0%;
    width: 100%;
    height: 100%;
    background-color: #0391E0;
}

.container .topnav a {
    margin-left: 20%;
    color: rgba(236, 236, 236, 0.8);
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    transition: all .3s linear;

}

.container .topnav:hover a {
    color: #fff;
}

.container .combaine .mail {
    display: flex;
    gap: 20px;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .mail a {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0%;
    color: rgba(236, 236, 236, 0.8);
    transition: all .3s linear;
}

.container .mail a:nth-child(1) {
    color: rgba(236, 236, 236, 0.8);
}

.container .mail a:nth-child(1):hover {
    color: #fff;
}

.container .mail a:nth-child(2) {
    color: rgba(236, 236, 236, 0.8);
}

.container .mail a:nth-child(2):hover {
    color: #fff;
}

.container .mail a:nth-child(3) {
    color: rgba(236, 236, 236, 0.8);
}

.container .mail a:nth-child(3):hover {
    color: #fff;
}

.container .mail a:nth-child(4) {
    color: rgba(236, 236, 236, 0.8);
}

.container .mail a:nth-child(4):hover {
    color: #fff;
}

.container .mail a:nth-child(5) {
    color: rgba(236, 236, 236, 0.8);
}

.container .mail a:nth-child(5):hover {
    color: #fff;
}

.container .navbar {
    width: 100%;
    height: 11%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;

}

.container .navbar .logo {
    width: 20%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .navbar .logo img {
    width: 90%;
    height: 75%;
}

.container .navbar .you ul {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    z-index: 1000;
}

.container .navbar .you ul li {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    border: none;
    margin-top: 5%;
    position: relative;
    float: left;
}

.container .navbar .you .one::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .one:hover::after {
    width: 80%;
}

.container .navbar .you .two::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .two:hover::after {
    width: 80%;
}

.container .navbar .you .three::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .three:hover::after {
    width: 80%;
}

.container .navbar .you .four::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .four:hover::after {
    width: 80%;
}

.container .navbar .you .five::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .five:hover::after {
    width: 80%;
}

.container .navbar .you .six::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-left: 10%;
    background-color: #0391E0;
    position: relative;
    top: -15px;
    left: 0;
    transition: all .2s linear;
}

.container .navbar .you .six:hover::after {
    width: 80%;
}

.container .navbar .you ul li a {
    margin-top: -5%;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-size: 14px;
    padding: 15px;
    color: rgb(0, 0, 0);
    display: block;
    transition: all .1s linear;
}

.container .navbar .you ul li a:hover {
    background-color: transparent;
    color: #0391E0;
}

.container .navbar .you ul li ul {
    font-family: Montserrat, sans-serif;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
    position: absolute;
    left: 0%;
    width: 310px;
    background-color: #ffffff;
    display: none;
}

.container .navbar .you ul li ul li {
    width: 100%;
}

.container .navbar .you ul li ul li ul {
    left: 310px;
    top: 0%;
}

.container .navbar .you ul li:hover>ul {
    display: initial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.container .navbar .you ul li:hover>a {
    transform: translatex(5px);
}

.container .navbar .you .imgg img {
    width: 25px;
    height: 25px;
    position: relative;
    top: -40px;
    left: 100%;
}



html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 79%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide .onex{
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 12%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    animation: anim1 .3s linear;
    animation-duration: 1;
}
@keyframes anim1 {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translatey(0);
    }
    
}
.swiper-slide .twoo{
    width: 36%;
    height: 30%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 10%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #cccccc;
    
}

.swiper-slide .threee{
    width: 12%;
    height: 10%;
    position: absolute;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #0b58b0;
    z-index: 3;
    top: 70%;
    left: 12%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    transition: all .1s linear;
    cursor: pointer;
    
}

.swiper-slide .bir{
    position: absolute;
    z-index: 3;
    top: 30%;
    left: 12%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    animation: anim2 .3s linear;
    animation-duration: 1;
}
@keyframes anim2 {
    0%{
        transform: translateY(-50px);
    }
    100%{
        transform: translatey(0);
    }
    
}

.swiper-slide .ikki{
    width: 36%;
    height: 30%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 8%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #cccccc;
    
}
.swiper-slide .uch{
    width: 12%;
    height: 10%;
    position: absolute;
    border-radius: 8px;
    border: 1px solid transparent;
    background-color: #0b58b0;
    z-index: 3;
    top: 70%;
    left: 12%;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #fff;
    transition: all .1s linear;
    cursor: pointer;
    
}
.swiper-slide .uch:hover{
    background-color: #f36c1a;
}

.swiper-slide .threee:hover{
    background-color: #f36c1a;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .ndpage{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.container .ndpage .left{
    width: 40%;
    height: 60%;
    background-color: #468bdb;
    transition: all .3s linear;
}
.container .ndpage .left:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.container .ndpage .left .txt{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 90px;
    align-items: center;
    position: relative;
}
.container .ndpage .left .txt h1{
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 10px;
    font-family: 'Lora', serif;
}
.container .ndpage .left .txt h1::before{
    content: "";
    display: block;
    width: 5px;
    height: 35px;
    background-color: #0391E0;
    position: absolute;
    top: 1%;
    left: -0%;
}
.container .ndpage .left .pics{
    width: 100%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    /* gap: 5%; */
}
.container .ndpage .left .pics .part1{
    width: 48%;
    height: 100%;
    background-color: #ffffff;
}
.container .ndpage .left .pics .part1 img{
    width: 100%;
    height: 50%;
}
.container .ndpage .left .pics .part1 h2{
    font-weight: normal;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part1 h2 a{
    font-family: 'Lora', serif;
    color: #0391E0;
}
.container .ndpage .left .pics .part1 h1{
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
}
.container .ndpage .left .pics .part1 h1 a{
    color: #0391E0;
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part1 p{
    margin-top: 15px;
    line-height: 20px;
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part2{
    width: 47%;
    height: 100%;
    background-color: #ffffff;
}
.container .ndpage .left .pics .part2 img{
    width: 100%;
    height: 50%;
}
.container .ndpage .left .pics .part2 h2{
    font-weight: normal;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part2 h2 a{
    font-family: 'Lora', serif;
    color: #0391E0;
}
.container .ndpage .left .pics .part2 h1{
    margin-top: 20px;
    font-weight: normal;
    font-size: 20px;
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part2 h1 a{
    color: #0391E0;
    font-family: 'Lora', serif;
}
.container .ndpage .left .pics .part2 p{
    margin-top: 15px;
    line-height: 20px;
    font-family: 'Lora', serif;
}
.container .ndpage .right{
    border-radius: 7px;
    z-index: 1;
    position: relative;
    top: -10%;
    left: 0%;
    width: 30%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .ndpage .right .top{
    border-radius: 7px 7px 0px 0px; 
    width: 100%;
    height: 10%;
    background-color: #0391E0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.container .ndpage .right .top h1{
    margin-left: 10%;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Lora', serif;
}
.container .ndpage .right .body1{
    width: 90%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
}
.container .ndpage .right .body1 p{
    color: #383838;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px 0;
    
}
.container .ndpage .right .body1 p a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body1 .hov2:hover{
    color: #f36c1a;
}
.container .ndpage .right .body1 a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 23px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body1 .hov1:hover{
    color: #f36c1a;
}

.container .ndpage .right .body2{
    width: 90%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
}
.container .ndpage .right .body2 p{
    color: #383838;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px 0;
    
}
.container .ndpage .right .body2 p a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body2 .hov2:hover{
    color: #f36c1a;
}
.container .ndpage .right .body2 a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 23px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body2 .bodyhov1:hover {
    color: #f36c1a;
}
.container .ndpage .right .body2 .bodyhov2:hover {
    color: #f36c1a;
}

.container .ndpage .right .body3{
    width: 90%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
}
.container .ndpage .right .body3 p{
    color: #383838;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px 0;
    
}
.container .ndpage .right .body3 p a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body3 .hov2:hover{
    color: #f36c1a;
}
.container .ndpage .right .body3 a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 23px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body3 .bodyhov3:hover {
    color: #f36c1a;
}
.container .ndpage .right .body3 .bodyhov4:hover {
    color: #f36c1a;
}

.container .ndpage .right .body4{
    width: 90%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
}
.container .ndpage .right .body4 p{
    color: #383838;
    text-transform: uppercase;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 10px 10px 0;
    
}
.container .ndpage .right .body4 p a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-weight: normal;
    transition: .2s all linear;
}

.container .ndpage .right .body4 a{
    color: #0391E0;
    text-transform: capitalize;
    font-family: 'Lora', serif;
    font-size: 23px;
    font-weight: normal;
    transition: .2s all linear;
}
.container .ndpage .right .body4 .bodyhov5:hover {
    color: #f36c1a;
}
.container .ndpage .right .body4 .bodyhov6:hover {
    color: #f36c1a;
}
.container .ndpage .right .body5{
    width: 90%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    margin-left: 10%;
}
.container .ndpage .right .body5 a{
    text-transform: uppercase;
    color: #0391E0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lora', serif;
}
.container .ndpage .right .body5 .how:hover{
    color: #f36c1a;
}
.container .mid{
    width: 100%;
    height: 100vh;
    background-color: #0391E0;
}
.container .tup{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.container .tup h1{
    z-index: 3;
    position: absolute;
    top: 100%;
    left: 10%;
    color: rgba(21, 21, 21, 1);
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 1.625;
}
.container .tup h1::after{
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    top: 15%;
    left: -7%;
    height: 20px;
    background-color: #0391E0;
}
.container .mid .middle{
    width: 100%;
    height: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .mid .middle .centre{
    width: 80%;
    height: 70%;
    background-color: #f36c1a;
    transition: all .1s linear  ;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}
.container .mid .middle .centre:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .mid .middle .centre .box1{
    width: 33.3%;
    height: 100%;
    background-color: #fff;
    position: relative;
}
.container .mid .middle .centre .box1 img{
    width: 85%;
    height: 45%;
    position: relative;
    top: 5%;
    left: 5%;
}
.container .mid .middle .centre .box1 h3{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: 5%;
    color: #383838;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
}
.container .mid .middle .centre .box1 h1{
    line-height: 1.625;
    font-weight: normal;
    position: absolute;
    top: 60%;
    left: 5%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 22px;
    transition: all .2s linear;
    cursor: pointer;
}
.container .mid .middle .centre .box1 h1:hover{
    color: #f36c1a;
}
.container .mid .middle .centre .box1 p{
    position: absolute;
    top: 80%;
    left: 5%;
    color: #383838;
    line-height: 1.1;
    font-weight: normal;
    font-size: 18px;
    transition: all .2s linear;
    cursor: pointer;
}
.container .mid .middle .centre .box1 a{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: .1%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    transition: .2s all linear;
}
.container .mid .middle .centre .box1 a:hover{
    color: #f36c1a;
}

.container .mid .middle .centre .box2{
    width: 33.3%;
    height: 100%;
    background-color: #fff;
}

.container .mid .middle .centre .box2 img{
    width: 85%;
    height: 45%;
    position: relative;
    top: 5%;
    left: 5%;
}

.container .mid .middle .centre .box2 h3{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: 5%;
    color: #383838;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
}
.container .mid .middle .centre .box2 a{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: .1%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    transition: .2s all linear;
}
.container .mid .middle .centre .box2 a:hover{
    color: #f36c1a;
}
.container .mid .middle .centre .box2 h1{
    font-weight: normal;
    position: relative;
    top: 9%;
    left: 5%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 22px;
    transition: all .2s linear;
    cursor: pointer;
    z-index: 2;
}
.container .mid .middle .centre .box2 h1:hover{
    color: #f36c1a;
}
.container .mid .middle .centre .box2 p{
    position: relative;
    top: 15%;
    left: 4%;
    color: #383838;
    line-height: 1.1;
    font-weight: normal;
    font-size: 18px;
    transition: all .2s linear;
    cursor: pointer;
}
.container .mid .middle .centre .box3{
    width: 33.4%;
    height: 100%;
    background-color: #ffffff;
}
.container .mid .middle .centre .box3 img{
    width: 85%;
    height: 45%;
    position: relative;
    top: 5%;
    left: 5%;
}
.container .mid .middle .centre .box3 h3{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: 5%;
    color: #383838;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
}
.container .mid .middle .centre .box3 a{
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    top: 7%;
    left: .1%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 16px;
    transition: .2s all linear;
}
.container .mid .middle .centre .box3 a:hover{
    color: #f36c1a;
}
.container .mid .middle .centre .box3 h1{
    font-weight: normal;
    position: relative;
    top: 9%;
    left: 5%;
    color: #0391E0;
    line-height: 1.625;
    font-weight: normal;
    font-size: 20px;
    transition: all .2s linear;
    cursor: pointer;
    z-index: 2;
}
.container .mid .middle .centre .box3 h1:hover{
    color: #f36c1a;
}
.container .mid .middle .centre .box3 p{
    position: relative;
    top: 15%;
    left: 4%;
    color: #383838;
    line-height: 1.1;
    font-weight: normal;
    font-size: 18px;
    transition: all .2s linear;
    cursor: pointer;
}
.container .bref{
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.container .bref .yop{
    margin-left: 10%;
    width: 80%;
    height: 20%;
    background-color: #0391E0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.container .bref .yop .left{
    width: 50%;
    height: 100%;
    background-color: transparent;
    padding-top: 3%;
    padding-left: 2%;
    border-radius: 10px;
}
.container .bref .yop .left p{
    font-size: 15px;
    font-weight: 600;
    font-family: sans-serif;
    color:#fff;
}
.container .bref .yop .left h1{
    font-size: 25px;
    font-weight: 600;
    font-family: sans-serif;
    color:#fff;
}
.container .bref .yop .right{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding-left: 30%;
}
.container .bref .yop .right button{
    width: 200px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid transparent;
    color: #0391E0;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    transition: all .2s linear;
    cursor: pointer;
}
.container .bref .yop .right button:hover{
    color: #fff;
    background-color: #f36c1a;
}
.container .bref .vid{
    margin-left: 10%;
    margin-top: 1.2%;
    width: 80%;
    height: 77%;
    background-color: #0391E0;
    
}
.container .bref .vid iframe{
    width: 100%;
    height: 100%;
}
.container .mor{
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .mor .morning{
    width: 80%;
    height: 80%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
}
.container .mor .morning .port1{
    width: 31%;
    height: 85%;
    background-color: #fff;
    display: block;
}
.container .mor .morning .port1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .mor .morning .port1 h1{
    font-size: 23px;
    margin-left: 50px;
    font-family: sans-serif;
    position: relative;
}
.container .mor .morning .port1 h1:after{
    position: absolute;
    top: 0px;
    left: -15px;
    z-index: 3;
    content: "";
    display: block;
    width: 10px;
    height: 30px;
    background-color: #0b58b0;
}
.container .mor .morning .port1 button{
    background-color: #fff;
    position: relative;
    top: 6%;
    left: 6%;
    width: 380px;
    height: 90px;
    border: none;
}
.container .mor .morning .port1 button:hover{
   background-color: #eee;
}
.container .mor .morning .port1 a{
    color: #0391E0;
    font-size: 18px;
    font-family: sans-serif;
}
.container .mor .morning .port2{
    width: 31%;
    height: 85%;
    background-color: red;
}
.container .mor .morning .port2:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container .mor .morning .port2 {
    background-color: #fff;
  position: relative;
  height: 85%;
}
.container .mor .morning .port2 h1{
    font-size: 23px;
    margin-left: 50px;
    font-family: sans-serif;
}
.container .mor .morning .port2 h1::after{
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 3;
    content: "";
    display: block;
    width: 10px;
    height: 50px;
    background-color: #0b58b0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.container .mor .morning .port2.swiper {
  width: 100%;
  height: 100%;
}

.container .mor .morning .port2.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.container .mor .morning .port2.swiper-slide img {
  display: block;
  width: 0%;
  height: 0%;
  object-fit: cover;
}
.container .mor .morning .port3{
    width: 31%;
    height: 85%;
    background-color: #ffffff;
}

.container .mor .morning .port3:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container .mor .morning .port3 h1{
    font-size: 23px;
    margin-left: 50px;
    font-family: sans-serif;
    position: relative;
}
.container .mor .morning .port3 h1:after{
    position: absolute;
    top: 0px;
    left: -15px;
    z-index: 3;
    content: "";
    display: block;
    width: 10px;
    height: 30px;
    background-color: #0b58b0;
}
.container .mor .morning .port3 button{
    background-color: #fff;
    position: relative;
    top: 6%;
    left: 6%;
    width: 380px;
    height: 90px;
    border: none;
}
.container .mor .morning .port3 button:hover{
   background-color: #eee;
}
.container .mor .morning .port3 a{
    color: #0391E0;
    font-size: 18px;
    font-family: sans-serif;
}








.container .stiky{
    position: fixed;
    top: 90%;
    left: 90%;
    z-index: 3;
    width: 50px;
    height: 50px;
    background-color: #0b58b0;
    border-radius: 10px;
}
.container .stiky button{
 width: 50px;
 height: 50px;
 background-color: #539cf0;
 border: 1px solid transparent;
 border-radius: 10px;
}
.container .stiky button:hover{
    background-color: #0b58b0;
    border-radius: 10px;
}
.container .stiky img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.container .footer{
    list-style: none;
    text-decoration: none;
    width: 100%;
    height: 80vh;
    background: #20232e;
}
.container .footer .foot{
    padding-top: 10%;
    list-style: none;
    text-decoration: none;
    margin: 0% 10% 10% 10%;
    width: 80%;
    height: 70%;
    background: #20232e;
}
/* .container .footer .foot ul a{
    padding-top: 10%;
display: flex;
font-size: 22px;
color: #fff;
font-family: sans-serif;
font-weight: 800;
} */
.container .footer .foot ul{
   font-size: 18px; 
   display: flex;
   gap: 15%;
   font-weight: 600;
   font-family: sans-serif;
   color: #fff;
   padding-bottom: 20px;
}
.container .footer .foot ul li{
    padding-top: 20px;
}
.container .footer .foot ul li a{
    font-weight: 600;
   font-family: sans-serif;
   color: #fff;
   font-size: 20px;
   
}
.container .footer .foot ul li ul{
    display: block;
    color: #959595;
    font-size: 18px;
    margin-bottom: 12px;
    width: 200px;
    height: 50px;
    
}
.container .footer .foot ul li ul a{
    color: #959595;
    font-size: 18px;
    margin-bottom: 12px;
    transition: all .2s linear;
}
.container .footer .foot ul li ul a:hover{
    color: #fff;
}
.container .footer .foot .big{
    display: flex;
}
.container .footer .foot .big li{
    padding: 0%;
    margin: 0%;
    display: flex;
    position: relative;
}
.container .footer .foot .big li img{
    position: relative;
    padding: -10px;
    width: 100px;
    height: 50px;
}
.container .footer .foot .big .box1{
    position: absolute;
   

}
.container .footer .foot .big .box2{
    position: absolute;
    left: 30px;
    top: 0%;
    z-index: 1000;
}
.container .footer .foot ul li ul li{
    padding-bottom: 15px;
}
.container .footer .div{
    width: 100%;
    height: 10%;
    background: #121521;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .footer .div h1{
    text-transform: uppercase;
    color: #fff;
}